*
!*/
# Git essentials
!.gitignore
!.git/**
!.gitattributes
!license

#Documentation
!README.md
!CHANGES.md

#Config
!config/
!config/config.ini

#Map settings
!Map Settings/
!Map Settings/PeacefulSettings.json
!Map Settings/Custom Settings/
!Map Settings/gen/**

#Mod Files
!mods/
!mods/mod-list.json
!mods/FactorioAccess_0.0.1/**

#Launcher
!main.py
!main.spec

#Jaws File
