*
!*/
# Git essentials
!.gitignore
!.gitattributes
!/LICENSE

#Documentation
!/README.md
!/CHANGES.md

#Config
!/config/
!/config/config.ini

#Map settings
!/Map Settings/
!/Map Settings/PeacefulSettings.json
!/Map Settings/CompassValleySettings.json
!/Map Settings/Custom Settings/
!/Map Settings/gen/**

#Mod Files
!/mods/
!/mods/mod-list.json
!/mods/FactorioAccess/**

#Launcher
!/main.py
!/main.spec

#Jaws File
!/Factorio.jkm

#build scripts
!/gen_release.py
